arc_touch_api/*.rbc
arc_touch_api/capybara-*.html
arc_touch_api/.rspec
arc_touch_api/db/*.sqlite3
arc_touch_api/db/*.sqlite3-journal
arc_touch_api/db/*.sqlite3-[0-9]*
arc_touch_api/public/system
arc_touch_api/coverage/
arc_touch_api/spec/tmp
arc_touch_api/*.orig
arc_touch_api/rerun.txt
arc_touch_api/pickle-email-*.html
arc_touch_api/log/*
arc_touch_api/tmp/*
arc_touch_api/!/log/.keep
arc_touch_api/!/tmp/.keep
arc_touch_api/# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
arc_touch_api/config/initializers/secret_token.rb
arc_touch_api/config/master.key
arc_touch_api/.env
arc_touch_api/.env.*
arc_touch_api/.bundle
arc_touch_api/vendor/bundle
arc_touch_api/.rvmrc
arc_touch_api/vendor/assets/bower_components
arc_touch_api/*.bowerrc
arc_touch_api/bower.json
arc_touch_api/.powenv
arc_touch_api/.byebug_history
arc_touch_api/node_modules/
arc_touch_api/public/packs
arc_touch_api/public/packs-test
arc_touch_api/public/assets
arc_touch_api/yarn-error.log
arc_touch_api/yarn-debug.log*
arc_touch_api/.yarn-integrity
arc_touch_api/storage/*
arc_touch_api/!/storage/.keep
arc_touch_api/public/uploads

# Generic
arc_touch_frontend/.idea
arc_touch_frontend/.DS_Store
arc_touch_frontend/client-bundle-stats.json
arc_touch_frontend/coverage
arc_touch_frontend/dist
arc_touch_frontend/lib
arc_touch_frontend/ssl
arc_touch_frontend/node_modules
arc_touch_frontend/.npm
arc_touch_frontend/.yarnclean
arc_touch_frontend/logs
arc_touch_frontend/*.log
arc_touch_frontend/npm-debug.log*
arc_touch_frontend/yarn-debug.log*
arc_touch_frontend/yarn-error.log*